.git
.gitignore
.github
.env
.env.*
!.env.example
.phpunit*
.phpunit.cache
tests
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
!bootstrap/cache/.gitignore
README.md
DEPLOY.md
Homestead.json
Homestead.yaml
.DS_Store
.idea
.vscode
.cursor
